# Web App
flask

# Data
sqlalchemy
sqlalchemy-utils
alembic

# Tasks
celery[redis]

# Dates
pytz

# Command Line
click

# Testing and static analysis
pytest
pytest-cov

# Extensions
flask-sqlalchemy
flask-debugtoolbar
flask-jsontools
flask-jsglue
flask_mail
flask-login

# Forms
wtforms
flask_wtf
WTForms-Components
