# Web App
flask

# Data
sqlalchemy
sqlalchemy-utils
alembic

# Dates
pytz

# Command Line
click

# Testing and static analysis
pytest
pytest-cov

# Extensions
flask-sqlalchemy
flask-debugtoolbar
flask-jsontools
flask-jsglue
