{% extends 'layouts/base.html' %}

{% set title = 'Home' %}
{% block meta_description %}Create and manage a world{% endblock %}

{% block content %}
  <div class="row text-center">
    <div class="col-sm-12">
      <h1>Feeling creative?</h1>
      <h3 class="text-muted">
        Create your own world today!
      </h3>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-sm-12">
      <i class="fa fa-globe fa-6" aria-hidden="true"></i>
    </div>
  </div>
  <div class="row text-center">

  </div>
{% endblock %}