{% import 'macros/flash.html' as flash with context %}
{% import 'macros/style.html' as style %}
{% import 'macros/script.html' as script %}
{% set application_name = application_name | default('World Manager') %}
{% set title = title | default('') %}
{% set main_styles = ['vendor/bootstrap.min.css',
                      'vendor/font-awesome.min.css',
                      'main.css'] %}
{% set additional_styles = additional_styles | default([]) %}
{% set main_scripts = ['vendor/jquery-2.2.4.min.js',
                       'vendor/bootstrap.min.js',
                       'main.js'] %}
{% set additional_scripts = additional_scripts | default([]) %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description"
        content="{% block meta_description %}{% endblock %}">

  <!-- icon for site -->
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

  <title>{{ title }}{% if title %} - {% endif %}{{ application_name }}</title>

  {% for s in main_styles %}
    {{ style.link(s) }}
  {% endfor %}

  {% for s in additional_styles %}
    {{ style.link(s) }}
  {% endfor %}
  <!--suppress JSUnusedLocalSymbols, ES6ConvertVarToLetConst -->
  <script>
      var Flask = {url_for: function(){}};
      {% block head_script %}
      {% endblock %}
  </script>

  {{ JSGlue.include() }}

</head>

<body>

{% block page_header %}{% endblock %}


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12" id="page-content-wrapper">
      {{ flash.render() }}
      <div id=main-content" class="md-margin-top">
        {% block content_header %}{% endblock %}
      </div>
      <main>
        {% block content %}{% endblock %}
      </main>
    </div>
  </div>
</div>



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% for s in main_scripts %}
  {{ script.src(s) }}
{% endfor %}

{% for s in additional_scripts %}
  {{ script.src(s) }}
{% endfor %}

{% block script %}{% endblock %}
</body>
</html>