body {
    padding: 0;
}

.character-sheet {
    border-style: solid;
    border-radius: 10px;
    margin: 1rem;
    padding: 1px;
    /**width: 720px; */
}

header h1, header h2, header h3, header h4, header h5, header h6 {
    margin-bottom: 0;
}

.subtitle {
    margin-top: 0;
    font-size: 60%;
    font-weight: 400;
    /* color: #868e96 !important; */
}

.col {
    padding-left: 0;
    padding-right: 0;
}

.row {
    margin: 0;
}

.stat-group {
    background-color: #eeeeee;
    padding: 0.25em;
    margin: 3px;
    border-radius: 1rem;
}

.standalone-stat {
    font-size: 8pt;
}

.standalone-stat .modifier {
    border-right-style: solid;
}


.label {
    font-size: 80%;
    font-weight: bold;
    margin-left: 5px;
}

.out-of {
    /* color: #868e96; */
}

.skills-and-saves ul {
    list-style: none;
    margin-bottom: 2px;
    padding-left: 43px;
}

.skills-and-saves ul li::before {
    border-style: none;
    display: inline-block;
    position: relative;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin-right: 4px;
    top: 2px;
}

.skill::before {
    content: url('../images/skill-none.svg');
    margin-left: -40px;
}

.skill.proficient::before {
    content: url('../images/skill-proficient.svg');
}

.skill.expert::before {
    content: url('../images/skill-expert.svg');
}

.saving-throw::before {
    content: url('../images/saving-throw-none.svg');
    margin-left: -30px;
    padding-right: 6px;
}

.saving-throw.proficient::before {
    content: url('../images/saving-throw-proficient.svg')
}

div.ability {
    text-align: center;
    border-style: solid;
    margin-bottom: 4px;
    border-radius: 10px;
    background-color: white;
}

div.ability > p {
    text-align: center;
    padding: 3px;
}

.skills-and-saves li {
    font-size: 0.5em;
}

div.ability > .ability-modifier {
    font-size: 1.1em;
    border-style: solid;
    border-top-style: none;
    margin-bottom: 2px;
}

div.ability > .ability-score {
    font-size: 1.7em;
    margin-bottom: 2px;
}

div.ability > .ability-name {
    font-size: 0.5em;
    margin-top: -3px;
    margin-bottom: 2px;
    vertical-align: bottom;
    margin-left: -16px;
    margin-right: -16px;
}

div.skills-and-saves {
    border-top-style: solid;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 10px;
}

div.standalone-stat {
    border-style: solid;
    border-radius: 1em;
    margin-bottom: 4px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: white;
}

div.standalone-stat p {
    margin-top: 4px;
    margin-bottom: 4px;
}

.armor {
    border-style: solid;
    border-radius: 10px;
    background-color: white;
    margin-right: 3px;
}

.armor-score, .speed-score {
    padding: 5px;
    font-size: 175%;
    text-align: center;
    margin: 0;
}

.armor-label .label,
.speed .label,
.hit-points .label {
    text-align: center;
    font-size: 60%;
    margin-bottom: 3px;
}

.speed {
    border-style: solid;
    border-radius: 10px;
    background-color: white;
    margin-left: 3px;
}

.hit-points {
    text-align: center;
    padding-top: 10px;
    border-style: solid;
    margin-top: 4px;
    border-radius: 10px;
    background-color: white;
}

.hit-points p {
    font-size: 200%;
    margin-bottom: 2px;
}

.hit-dice {
    margin-right: 4px;
    margin-left: 15px;
}

.hit-dice p {
    font-size: 100%;
}

.death-saves {
    margin-right: 15px;
    padding-left: 0;
    padding-right: 5px;
}

.death-saves img {
    display: inline;
    margin-left: 3px;
}

.death-saves .label {
    text-align: right;
    padding-right: 5px;
}

.attack {
    border-style: solid;
    border-radius: 10px;
    margin-top: 3px;
}

.attack p {
    margin-bottom: 0;
}

.attack .label {
    font-size: 50%;
    border-style: solid;
    border-width: 1px;
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 2px;

}

.attack .value {
    font-size: 70%;
}

.features {
    font-size: 50%;
}

.features.row {
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    margin-top: 4px;
    margin-left: 0;
}

.features .label {
    font-size: 100%;
    text-align: center;
    margin-bottom: 3px;
}

.features p {
    margin-bottom: 3px;
}

.features em {
    font-weight: bold;
}

.features ul {
    padding-left: 15px;
    padding-right: 3px;
}
